openapi: 3.0.0
info:
  version: '3.0'
  title: Oil and Gas Reporting System (OGRS-API)
  description: >-
    This is an api  to allows users to obtain infomation about the oil and gas wells database and generating a punch of related reposts such as wells count, insurance as well as production allocation funcationality
  termsOfService: http://ourcompany.com/terms-of-use
  contact:
    name: Muhammed Elbasiony Wafa
    email: mohamed.wafa770@gmail.com
  license:
    name: reporting API liecence
    url: http://liecence.anything.com

servers:
  - url: http://www.ourcompany.com/v1
    description: Dev server

  - url: http://www.ourcompany.com/v2
    description: Production server
tags:
  - name: Lab
    description: Lab Measurements Details
  - name: WellDailyActions
    description: Daily Report Measurements Details
  - name: Field
    description: field Measurements Details
  - name: Well
    description: Well Measurements Details
  - name: FluidLevelMeasurements
    description: Fluid Level Measurements Details
  - name: ProductionGeneralInfo
    description: Production General Info Details
  - name: DrilingInfo
    description: Driling Info Details
  - name: ProductionBudget
    description: Production Budget Details
  - name: WellGeneralInfo
    description: Well General Info Details
  - name: IntervalsInfo
    description: Intervals Info Details
  - name: Users
    description: Users Details
  - name: UsersRoles
    description: Users Roles Details
  - name: Login
    description: User Login Details
paths:

  # ---------------MAHA---------------
  /concessionFields/{id}:
    get:
      tags:
        - concessions
      summary: Array of all concession's fields
      description: returning an Array of this concession's fields
      parameters:
        - in: path
          name: id
          required: true
          description: the ID of the concession
          schema:
            type: integer
            example: 5
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllConcessionFields'

        # These two error responses have the same schema
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: Internal Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /FieldWells/{id}:
    get:
      tags:
        - Field
      summary: Array of all field's wells
      description: returning an Array of this field's wells
      parameters:
        - in: path
          name: id
          required: true
          description: the ID of the field
          schema:
            type: integer
            example: 5
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllFieldWells'

        # These two error responses have the same schema
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: Internal Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /login:
    post:
      tags:
        - Login
      description: user login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/loginRequest'

      responses:
        200:
          description: User logged in successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLoggedInResponse'
        400:
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /users:
    post:
      tags:
        - Users
      description: registering a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'

      responses:
        204:
          description: User created successfully
        400:
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    get:
      tags:
        - Users
      description: getting all users
      parameters:
        - in: query
          name: jobRole
          description: getting the users that are of that role
          schema:
            type: integer
            example: 1
        - in: query
          name: jobLocation
          description: getting the users that are located at this location
          schema:
            type: string
            example: office

      responses:
        200:
          description: Successful pull of all users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllUsers'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /users/{id}:
    get:
      tags:
        - Users
      description: getting the fluid level measurements for a specific well id
      parameters:
        - in: path
          name: id
          required: true
          description: the ID of the user
          schema:
            type: integer
            example: 5

      responses:
        200:
          description: Successful pull of the user with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    patch:
      tags:
        - Users
      description: updating user record
      parameters:
        - in: path
          name: id
          required: true
          description: the user id
          schema:
            type: integer
            example: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'

      responses:
        204:
          description: User updated successfully
        400:
          description: please enter all of the required attributes with the correct format
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    delete:
      tags:
        - Users
      description: deleting a specific user record with the given id
      parameters:
        - in: path
          name: id
          required: true
          description: the user id
          schema:
            type: integer
            example: 5

      responses:
        204:
          description: user record deleted successfully
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /usersRoles:
    post:
      tags:
        - UsersRoles
      description: adding a new user role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoleRequest'

      responses:
        204:
          description: User role created successfully
        400:
          description: please enter the of the required attributes
            with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    get:
      tags:
        - UsersRoles
      description: getting all users roles

      responses:
        200:
          description: Successful pull of all users roles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllUserRoles'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /usersRoles/{id}:
    get:
      tags:
        - UsersRoles
      description: getting the user role record with the given id
      parameters:
        - in: path
          name: id
          required: true
          description: the ID of the user role
          schema:
            type: integer
            example: 5

      responses:
        200:
          description: Successful pull of the user with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRoleResponse'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    put:
      tags:
        - UsersRoles
      description: updating user role record (name)
      parameters:
        - in: path
          name: id
          required: true
          description: the user role id
          schema:
            type: integer
            example: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoleRequest'

      responses:
        204:
          description: User role updated successfully
        400:
          description: please enter all of the required attributes with the correct format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    delete:
      tags:
        - UsersRoles
      description: deleting a specific user role record with the given id
      parameters:
        - in: path
          name: id
          required: true
          description: the user role id
          schema:
            type: integer
            example: 5

      responses:
        204:
          description: user role record deleted successfully
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/fluidLevelMeasurements:
    get:
      tags:
        - FluidLevelMeasurements
      description: getting the fluid level measurements for all wells
      parameters:
        - in: query
          name: beginDate
          description: getting the fluid level measurements records that are of that date or after
          schema:
            type: string
            format: date-time
            example: 2021-03-16
        - in: query
          name: endDate
          description: getting the fluid level measurements records that are of that date or before
          schema:
            type: string
            format: date-time
            example: 2021-03-16
        - in: query
          name: pageNum
          required: false
          description: page number to get the right fluid level measurements records according
          schema:
            type: integer
            example: 1
        - in: query
          name: elementNum
          required: false
          description: getting this number of the fluid level measurements records that are of that date or before
          schema:
            type: integer
            example: 20

      responses:
        200:
          description: Successful pull of the fluid level measurements for the well with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllFluidLevelMeasurement'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/{wellId}/fluidLevelMeasurements:
    post:
      tags:
        - FluidLevelMeasurements
      description: adding a new fluid level measurement for a specific well
      parameters:
        - in: path
          name: wellId
          required: true
          description: the ID of the well
          schema:
            type: integer
            example: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FluidLevelMeasurementRequest'

      responses:
        204:
          description: Fluid level measurement created successfully
        400:
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    get:
      tags:
        - FluidLevelMeasurements
      description: getting the fluid level measurements for a specific well id
      parameters:
        - in: path
          name: wellId
          required: true
          description: the ID of the well
          schema:
            type: integer
            example: 5
        - in: query
          name: beginDate
          description: getting the fluid level measurements records that are of that date or after
          schema:
            type: string
            format: date-time
            example: 2021-03-16
        - in: query
          name: endDate
          description: getting the fluid level measurements records that are of that date or before
          schema:
            type: string
            format: date-time
            example: 2021-03-16
        - in: query
          name: pageNum
          required: false
          description: page number to get the right fluid level measurements records according
          schema:
            type: integer
            example: 1
        - in: query
          name: elementNum
          required: false
          description: getting this number of the fluid level measurements records that are of that date or before
          schema:
            type: integer
            example: 20

      responses:
        200:
          description: Successful pull of the fluid level measurements for the well with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFluidLevelMeasurement'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/{wellId}/fluidLevelMeasurements/{flmId}:
    put:
      tags:
        - FluidLevelMeasurements
      description: updating a fluid level measurement of a specific well
      parameters:
        - in: path
          name: wellId
          required: true
          description: the ID of the well
          schema:
            type: integer
            example: 5
        - in: path
          name: flmId
          required: true
          description: the ID of the fluid level measurement record
          schema:
            type: integer
            example: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FluidLevelMeasurementRequest'

      responses:
        204:
          description: Fluid level measurement created successfully
        400:
          description: please enter all of the required attributes with the correct format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    patch:
      tags:
        - FluidLevelMeasurements
      description: updating a fluid level measurement of a specific well
      parameters:
        - in: path
          name: wellId
          required: true
          description: the ID of the well
          schema:
            type: integer
            example: 5
        - in: path
          name: flmId
          required: true
          description: the ID of the fluid level measurement record
          schema:
            type: integer
            example: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FluidLevelMeasurementRequest'

      responses:
        204:
          description: Fluid level measurement created successfully
        400:
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    delete:
      tags:
        - FluidLevelMeasurements
      description: deleting a specific fluid level measurements record that is related to the well with the given id
      parameters:
        - in: path
          name: wellId
          required: true
          description: the ID of the well
          schema:
            type: integer
            example: 5
        - in: path
          name: flmId
          required: true
          description: the ID of the fluid level measurement record
          schema:
            type: integer
            example: 5

      responses:
        204:
          description: All records were deleted successfully
        400:
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/productionGeneralInfo:
    get:
      tags:
        - ProductionGeneralInfo
      description: getting all the production general info for all the wells

      responses:
        200:
          description: Successful pull of the fluid level measurements for the well with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllProductionGeneralInfoWithNames'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/{wellId}/productionGeneralInfo:
    post:
      tags:
        - ProductionGeneralInfo
      description: creating a new production general info record for a specific well
      parameters:
        - in: path
          name: wellId
          required: true
          description: the ID of the well
          schema:
            type: integer
            example: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductionGeneralInfoRequest'

      responses:
        204:
          description: Production general info record created successfully
        400:
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    get:
      tags:
        - ProductionGeneralInfo
      description: getting all the production general info for the well with the given id
      parameters:
        - in: path
          name: wellId
          required: true
          description: the ID of the well
          schema:
            type: integer
            example: 5
        - in: query
          name: powerSourceType
          description: the value of the powerSourceType
          schema:
            type: string
            enum: [OHL, Diesel Generator]
            example: OHL
        - in: query
          name: processionPlant
          description: the value of the processionPlant
          schema:
            type: string
            enum: [Gas Plant, Oil Plant,Flair]
            example: Gas Plant
        - in: query
          name: currentWellType
          description: the value of the currentWellType
          schema:
            type: string
            enum: [oil producer, gas producer, water producer, oil and gas, condensate producer, non]
            example: oil producer
        - in: query
          name: currentLiftType
          description: the value of the currentLiftType
          schema:
            type: string
            enum: [NaturalFlow, S/R, ESP, Gl, PCP, PlungerLift, ESP-PCP]
            example: NaturalFlow
        - in: query
          name: currentStatus
          description: the value of the currentStatus
          schema:
            type: string
            enum: [producing, shutin]
            example: producing

      responses:
        200:
          description: Successful pull of the production general info for the well with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProductionGeneralInfo'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/{wellId}/productionGeneralInfo/{pgiId}:
    put:
      tags:
        - ProductionGeneralInfo
      description: updating production general info of a specific well
      parameters:
        - in: path
          name: wellId
          required: true
          description: the ID of the well
          schema:
            type: integer
            example: 5
        - in: path
          name: pgiId
          required: true
          description: the ID of the production general info record
          schema:
            type: integer
            example: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductionGeneralInfoRequest'

      responses:
        204:
          description: Fluid level measurement created successfully
        400:
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    delete:
      tags:
        - ProductionGeneralInfo
      description: deleting a specific production general info record that is related to the well with the given id
      parameters:
        - in: path
          name: wellId
          required: true
          description: the ID of the well
          schema:
            type: integer
            example: 5
        - in: path
          name: pgiId
          required: true
          description: the ID of the production general info record
          schema:
            type: integer
            example: 5

      responses:
        204:
          description: All records were deleted successfully
        400:
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        404:
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  # ---------------SALMA---------------
  /wells/drillingInfo:
    get:
      tags:
        - DrilingInfo
      description: getting the drilling inforamtion for all wells
      responses:
        200:
          description: search results matching the well id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/drillingInfoDataResponse'
        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/{wellId}/drillingInfo:
    get:
      tags:
        - DrilingInfo
      description: getting the drilling inforamtion for specific well
      parameters:
        - in: path
          name: wellId
          description: pass the id of a specific well
          required: true
          schema:
            type: integer
            example: 1
      responses:
        200:
          description: search results matching the well id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/drillingInfoDataResponse'
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    post:
      tags:
        - DrilingInfo
      description: adding new drilling info for specefic well
      parameters:
        - in: path
          name: wellId
          description: pass the id of a specific well
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/drillingInfoDataRequest'
      responses:
        200:
          description: item created
        400:
          description: invalid input, object invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    delete:
      tags:
        - DrilingInfo
      description: delteing drilling info for specific well
      parameters:
        - in: path
          name: wellId
          required: true
          description: well id that we want to delete it
          schema:
            type: integer
            example: 1
      responses:
        204:
          description: all records with the same well id are deleted
        400:
          description: invalid input, object invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/{wellId}/drillingInfo/{id}:
    get:
      tags:
        - DrilingInfo
      description: getting the drilling inforamtion for specific well
      parameters:
        - in: path
          name: wellId
          description: pass the id of a specific well
          required: true
          schema:
            type: integer
            example: 1
        - in: path
          name: id
          description: pass the id of the record
          required: true
          schema:
            type: integer
            example: 1
      responses:
        200:
          description: search results matching the well id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drillingInfoDataResponse'
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    delete:
      tags:
        - DrilingInfo
      description: delteing drilling info for specific well
      parameters:
        - in: path
          name: wellId
          required: true
          description: well id that we want to delete it
          schema:
            type: integer
            example: 1
        - in: path
          name: id
          description: pass the id of the record
          required: true
          schema:
            type: integer
            example: 1
      responses:
        204:
          description: all records with the same well id are deleted
        400:
          description: invalid input, object invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    patch:
      tags:
        - DrilingInfo
      description: updating drilling info for specific well
      parameters:
        - in: path
          name: wellId
          required: true
          schema:
            type: integer
            example: 1
          description: well id that we want to update it
        - in: path
          name: id
          description: pass the id of the record
          required: true
          schema:
            type: integer
            example: 1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/drillingInfoDataRequest'
      responses:
        200:
          description: item updated
        400:
          description: invalid input, object invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /concessions/budget/productionBudget:
    get:
      tags:
        - ProductionBudget
      description: gell all budgets in specific date
      parameters:
        - in: query
          name: date
          description: specific date to get all the budgets of the concessions
          schema:
            type: string
            format: date-time
            example: 2018-05-10


      responses:
        200:
          description: search results matching this date
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/productionBudegetDataResponse'

        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    post:
      tags:
        - ProductionBudget
      description: adding new prdouction budget for concessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productionBudegetRequest'
      responses:
        200:
          description: item created
        400:
          description: invalid input, object invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /concessions/budget/productionBudget/{id}:
    delete:
      tags:
        - ProductionBudget
      description: deleting budget of a concession in specific date
      parameters:
        - in: path
          name: id
          required: true
          description: well id that we want to delete it
          schema:
            type: integer
            example: 1
      responses:
        204:
          description: item is deleted
        400:
          description: invalid input, object invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    patch:
      tags:
        - ProductionBudget
      description: updating budget of a concession in specific date
      parameters:
        -  in: path
           name: id
           required: true
           description: well id that we want to delete it
           schema:
             type: integer
             example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productionBudegetRequest'
      responses:
        200:
          description: item updated
        400:
          description: invalid input, object invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        401:
          description: not authenticated user to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        403:
          description: not authorized to access this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        500:
          description: unexpected error in the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  # ---------------AMIRA---------------
  /fields:
    get:
      tags:
        - Field
      summary: Get all fields
      description: Returns all fields records
      operationId: getfields
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllFields'
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: field not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    post:
      tags:
        - Field
      summary: Add a new field Measurement
      description: Add a new field Measurement to report
      operationId: addfieldMeasurement
      requestBody:
        description: FieldMeasurement object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fieldRequest'
        required: true
      responses:
        "204":
          description: Fluid level measurement created successfully
        "400":
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells:
    get:
      tags:
        - Well
      summary: Find well by ID
      description: Returns a single Report
      operationId: getwells
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllWells'
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: well not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    post:
      tags:
        - Well
      summary: Add a new well
      description: Add a new well
      operationId: addwell
      requestBody:
        description: well object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wellRequest'
        required: true
      responses:
        "400":
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "200":
          description: successful operation

  /fields/{id}:
    get:
      tags:
        - Field
      summary: Find field by ID
      description: Returns a single field measurement
      operationId: getfieldById
      parameters:
        - name: id
          in: path
          description: ID of field to return
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fieldResponse'
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: field not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    put:
      tags:
        - Field
      summary: Update a field Measurement
      description: Update an existing field Measurement in a report
      operationId: updatefieldMeasurement
      parameters:
        - name: id
          in: path
          description: ID of field to update
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      requestBody:
        description: fieldMeasurement object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fieldRequest'
        required: true
      responses:
        "400":
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "200":
          description: successful operation

    delete:
      tags:
        - Field
      summary: Deletes a field
      description: Deletes a field by its id
      operationId: deletefieldById
      parameters:
        - name: id
          in: path
          description: Delete a field by its id
          required: true
          style: simple
          explode: false
          schema:
            type: integer
      responses:
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: field not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "200":
          description: successful operation

  /wells/{id}:
    get:
      tags:
        - Well
      summary: Find well by ID
      description: Returns a single Report
      operationId: getwellById
      parameters:
        - name: id
          in: path
          description: ID of a well to return
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        "204":
          description: Successful pull of the lab measurements for the well with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wellResponse'

    #      responses:
    #        "200":
    #          description: successful operation
    #          content:
    #            application/xml:
    #              schema:
    #                $ref: '#/components/schemas/wellResponse'
    #            application/json:
    #              schema:
    #                $ref: '#/components/schemas/wellResponse'
    #        "400":
    #          description: Invalid ID supplied
    #          content: {}
    #        "404":
    #          description: well not found
    #          content: {}

    put:
      tags:
        - Well
      summary: Update a well
      description: Update an existing well for a well
      operationId: updateWell
      parameters:
        - name: id
          in: path
          description: ID of well to update
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      requestBody:
        description: Well object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wellRequest'
        required: true
      responses:
        "400":
          description: please enter the of the required attributes with the correct data format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "200":
          description: successful operation

    delete:
      tags:
        - Well
      summary: Deletes a well
      description: Deletes a well by its id
      operationId: deleteWellById
      parameters:
        - name: id
          in: path
          description: Delete a well by its id
          required: true
          style: simple
          explode: false
          schema:
            type: integer
      responses:
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: well not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

        "200":
          description: successful operation

  # ---------------SHAKER---------------
  /wells/GeneralInfo:
    get:
      tags:
        - WellGeneralInfo
      description: Returns a list of wells info
      #  ----- Added lines  ----------------------------------------
      responses:
        '200':
          description: Successfully returned a list of wells general info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/wellGeneralInfoResponse'

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '403':
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '500':
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    post:
      tags:
        - WellGeneralInfo
      description: Lets a user post a new wellGeneralInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wellGeneralInfoRequest'

      responses:
        '200':
          description: Successfully created a new wellGeneralInfo

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

        '401':
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

        '403':
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

        '500':
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/GeneralInfo/{id}:
    get:
      tags:
        - WellGeneralInfo
      description: Obtain information about well from its id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1

      responses:
        '200':
          description: Successfully returned wellGeneralInfo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wellGeneralInfoResponse'

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '403':
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '404':
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '500':
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    put:
      tags:
        - WellGeneralInfo
      description: update information about well by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wellGeneralInfoRequest'
      responses:
        '200':
          description: Successfully updated wellGeneralInfo

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '403':
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '404':
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '500':
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    delete:
      tags:
        - WellGeneralInfo
      description: delete wellGeneralInfo by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1


      responses:
        '200':
          description: Successfully deleted wellGeneralInfo

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '403':
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '404':
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '500':
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/intervalsInfo:
    get:
      tags:
        - IntervalsInfo
      description: Returns a list of intervals info about wells

      responses:
        '200':
          description: Successfully returned a list of wells intervals info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/intervalsInfoResponse'

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '403':
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '500':
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    post:
      tags:
        - IntervalsInfo
      description: Lets a user post a new intervalsInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/intervalsInfoRequest'

      responses:
        '200':
          description: Successfully created a new intervalsInfo

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

        '401':
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

        '403':
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

        '500':
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/intervalsInfo/{id}:
    get:
      tags:
        - IntervalsInfo
      description: Obtain intervalsInfo about well by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1

      responses:
        '200':
          description: Successfully returned intervalsInfo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/intervalsInfoResponse'

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '403':
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '404':
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '500':
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    put:
      tags:
        - IntervalsInfo
      description: update intervals Info about well by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/intervalsInfoRequest'
      responses:
        '200':
          description: Successfully updated intervals Info

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '403':
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '404':
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '500':
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    delete:
      tags:
        - IntervalsInfo
      description: delete intervals Info by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1


      responses:
        '200':
          description: Successfully deleted intervalsInfo

        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: You have not been authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '403':
          description: Unauthorized to make this request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '404':
          description: resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '500':
          description: unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  # ---------------OSOS---------------
  /wells/{wellId}/labs:
    post:
      tags:
        - Lab
      summary: Add a new lab Measurement
      description: Add a new lab Measurement to well
      operationId: addLabMeasurement
      parameters:
        - name: wellId
          in: path
          description: ID of lab to return
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      requestBody:
        description: LabMeasurement object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labMeasurementRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/labMeasurementRequest'
        required: true
      responses:
        "204":
          description: success
        "400":
          description: un expected body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: not authintecated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: un expected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: not authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "405":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    get:
      tags:
        - Lab
      summary: Find labs between two dates
      description: Returns labs between two dates
      operationId: getAllLabsInWell
      parameters:
        - name: wellId
          in: path
          description: ID of lab to return
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: beginDate
          in: query
          description: getting the daily actions that are of that date or after
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: 2021-03-16T00:00:00.000+0000
        - name: endDate
          in: query
          description: getting the daily actions that are of that date or after
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: 2021-03-16T00:00:00.000+0000
      responses:
        "204":
          description: Successful pull of the lab measurements for the well with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllLabsOfAWell'
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: Lab not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: not authintecated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: un expected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: not authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/labs:
    get:
      tags:
        - Lab
      summary: Find labs between two dates
      description: Returns labs between two dates
      operationId: getAllLabs
      parameters:
        - name: beginDate
          in: query
          description: getting the daily actions that are of that date or after
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: 2021-03-16T00:00:00.000+0000
        - name: endDate
          in: query
          description: getting the daily actions that are of that date or after
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: 2021-03-16T00:00:00.000+0000
      responses:
        "204":
          description: Successful pull of the lab measurements for the well with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllLabs'
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: Lab not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: not authintecated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: un expected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: not authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/{wellId}/labs/{labId}:
    put:
      tags:
        - Lab
      summary: Update a lab Measurement
      description: Update an existing lab Measurement in a well
      operationId: updateLabMeasurement
      parameters:
        - name: wellId
          in: path
          description: ID of lab to return
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: labId
          in: path
          description: record Id of the lab measurements table
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      requestBody:
        description: LabMeasurement object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labMeasurementRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/labMeasurementRequest'
        required: true
      responses:
        "204":
          description: success
        "400":
          description: un expected body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: not authintecated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: un expected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: not authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "405":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    delete:
      tags:
        - Lab
      summary: Deletes a lab
      description: Deletes a lab by its id
      operationId: deleteLabById
      parameters:
        - name: wellId
          in: path
          description: Delete a lab in a well by its id
          required: true
          style: simple
          explode: false
          schema:
            type: integer
        - name: labId
          in: path
          description: Delete a lab by its id
          required: true
          style: simple
          explode: false
          schema:
            type: integer
      responses:
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: Lab not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: not authintecated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: un expected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: not authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    get:
      tags:
        - Lab
      summary: Find a certain lab on a certain well
      description: Returns a certain lab on a certain well
      operationId: getLabByWellIdAndLabId
      parameters:
        - name: wellId
          in: path
          description: ID of lab to return
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: labId
          in: path
          description: record Id of the lab measurements table
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/labMeasurementResponse'
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: Lab not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: not authintecated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: un expected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: not authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/{wellId}/dailyActions:
    post:
      tags:
        - WellDailyActions
      summary: Add a new daily report
      description: Add a new daily report
      operationId: addDailyReport
      parameters:
        - name: wellId
          in: path
          description: ID of dailyAction to return
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      requestBody:
        description: Daily Report object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wellDailyActionsRequest'
        required: true
      responses:
        "204":
          description: success
        "400":
          description: un expected body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: not authintecated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: un expected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: not authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "405":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    get:
      tags:
        - WellDailyActions
      summary: Find reports between two dates
      description: Returns reports between two dates
      operationId: getReportById
      parameters:
        - name: wellId
          in: path
          description: ID of report to return
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: siLVL4
          in: query
          description: Return Reports
          required: false
          style: form
          explode: false
          schema:
            type: integer
            format: int64
        - name: losses
          in: query
          description: Return all daily Reports of a certain well by loss
          required: false
          style: form
          explode: false
          schema:
            type: integer
            format: int64
        - name: downTime
          in: query
          description: Return all daily Reports of a certain well by downTime
          required: false
          style: form
          explode: false
          schema:
            type: integer
            format: int64
        - name: beginDate
          in: query
          description: getting the daily actions that are of that date or after
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: 2021-03-16T00:00:00.000+0000
        - name: endDate
          in: query
          description: getting the daily actions that are of that date or after
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: 2021-03-16T00:00:00.000+0000
      responses:
        "204":
          description: Successful pull of the report for the well with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllWellDailyActionsOfAWell'
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: Report not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: not authintecated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: un expected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: not authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

  /wells/{wellId}/dailyActions/{dailyActionId}:
    put:
      tags:
        - WellDailyActions
      summary: Update a daily report
      description: Update an existing daily report for a well
      operationId: updateWellReport
      parameters:
        - name: wellId
          in: path
          description: well Id
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: dailyActionId
          in: path
          description: record Id of the Daily Actions table
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      requestBody:
        description: dailyReport object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wellDailyActionsRequest'
        required: true
      responses:
        "204":
          description: success
        "400":
          description: un expected body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: not authintecated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: un expected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: not authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "405":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    get:
      tags:
        - WellDailyActions
      summary: Find daily Reports of a well
      description: Returns all daily Reports of a well by well id
      operationId: getWellReportById
      parameters:
        - name: wellId
          in: path
          description: Return all daily Reports of a certain well
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: dailyActionId
          in: path
          description: Return all daily Reports of a certain well
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        "204":
          description: Successful pull of the report for the well with the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wellDailyActionsResponse'
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "404":
          description: Report not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "401":
          description: not authintecated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "500":
          description: un expected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        "403":
          description: not authorized user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'

    delete:
      tags:
        - WellDailyActions
      summary: Deletes a report
      description: Deletes a report by its id
[...]
